.channel-list {
    height: calc(100vh - 6.75rem);
    overflow-y: auto;
}

.channel_list {
    position: relative;
	list-style: none;
    overflow-y: auto;

	&--channel {
		width: 100%;
		margin: 0.25rem 0;
		padding: 0.5rem 1rem;
		padding-right: 0.5rem;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background-color: var(--color-light);
		}
	}
}
