.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size, 50) * 1px);
    height: calc(var(--size, 50) * 1px);
    background-color: rgba(0,0,0,0.15);
    color: rgba(255,255,255,0.15);
    font-size: calc(var(--size) * .75px);
    border: 1px solid var(--color-bg-light);
    border-radius: 50%;

    img {
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
}