*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: {
        family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        size: 16px;
    }
    line-height: 1.1;
    background-color: var(--color-bg-light);
    color: var(--color-base);
}